 # Arithmetic Operators

In [353]:
3 - 5

-2

In [354]:
1 + 2

3

In [355]:
15 / 3

5.0

In [356]:
16 / 3

5.333333333333333

In [357]:
float(16) / 3

5.333333333333333

In [358]:
16.0 / 3

5.333333333333333

In [359]:
16 % 3

1

In [360]:
5 * 3

15

In [361]:
x = 5 * 3

In [362]:
x

15

# Comparison Operators

In [363]:
10 == 20 / 2

True

In [364]:
5 ** 3

125

In [365]:
10 != 10

False

In [366]:
10 != 15

True

In [367]:
100 > 50

True

In [368]:
100 < 50

False

In [369]:
15 >= 10 + 10

False

In [370]:
15 <= 10 + 5

True

## Introduction to the IF statement

In [371]:
if 5 == 15 / 3:
    print ("Hooray!")

Hooray!

In [372]:
if 5 == 18 / 3:
    print ("Hooray!")

In [373]:
if 5 != 3 * 6:
    print ("Hooray!")

Hooray!

Create a two-line code that prints "The condition has been satisfied" if 5 is greater than 2.

In [374]:
if 5 > 2:
    print ("The condition has been satisfied")

The condition has been satisfied

Assign 10 to the variable x and 25 to the variable y. In the same cell, create 2 conditional statements. Let the first one print "Both conditions are correct" if x is greater then 3 and y is greater than 13. Let the second one print "At least one of the conditions is false" if x is less than or equal to 3 and y is less than or equal to 13. 
Change the values assigned to x and y and re-run the cell to verify your code still works.

In [375]:
x = 10
y = 25

if x > 3 and y > 13:
    print ('Both conditions are correct')
if x <= 3 or y <= 13:
    print ('At least one of the conditions is false')

Both conditions are correct

# Defining a Function

In [376]:
def simple():
    print ("My first function")

In [377]:
simple()

My first function

In [378]:
def add(a,b):
    return a+b

In [379]:
add(5,3)

8

In [380]:
def plus_ten(a):     #a is parameter
    return a+10

In [381]:
plus_ten(2) # 2 is an argument

12

In [382]:
plus_ten(5)

15

In [383]:
def plus_ten(a):
    result = a + 10
    print("outcome") # return "Outcome"
    return result

In [384]:
plus_ten(2)    #? No output if there is no return there should be only one return value in fn

outcome

12

Define a function that returns a value equal to its argument multiplied by 2.

In [385]:
def mul_2(a):
    return a*2

mul_2(10)

20

Define a funciton that returns a float value equal to its argument divided by 2.

In [386]:
def div_2(a):
    return float (a)/2  # or return a/2.0 divisor is float

div_2(10)

5.0

## Another Way to Define a Function

Define a function that states the value of the argument accompanied by the phrase "Raised to the power of 2:" and returns a value equal to its argument raised to the power of 2. This time, use a new variable, called "result", in the body of the Function. 
Call the function with some argument to verify it works properly.

*Hint: Your knowledge about stating multiple elements on a line can be of great help in solving this exercise!*

In [387]:
def raise_2(a):
    result = a ** 2
    print(a, "Raised to the power of 2 :")
    return result

raise_2(4)

4 Raised to the power of 2 :

16

# Function within other Function

In [388]:
def wage(w_hours):
    return w_hours * 25

def with_bonus(w_hours):
    return wage(w_hours) + 50

In [389]:
wage(8), with_bonus(8)

(200, 250)

Define a function that adds 5 to the parameter. Then, define another function that will multiply the newly obtained number by 3.
Verify your code was correct by calling the second function with an argument of 5. 
Was your output equal to 30?

In [390]:
def plus_five(x):
    return x + 5

def m_by_3(x):
    return plus_five(x) * 3

In [391]:
m_by_3(5)

30

# Functions with conditional statements

In [392]:
def add_10(m):
    if m >= 100:
        m = m + 10
        return m
    else: 
        return "save More!"

In [393]:
add_10(110)

120

In [394]:
add_10(90)

'save More!'

Define a function, called **compare_the_two()**, with two arguments. If the first one is greater than the second one, let it print "Greater". If the second one is greater, it should print "Less". Let it print "Equal" if the two values are the same number.

In [395]:
def compare_the_two(a,b):
    if a > b:
        print("Greater")
    elif b > a:
        print("Less")
    else:
        print("Equal")

In [396]:
compare_the_two(11,11)

Equal

# Functions with more than one parameters

In [397]:
def subtract_bc(a,b,c):
    result = a-b*c
    print('parameter a equals', a)
    print('parameter b equals', b)
    print('parameter c equals', c)
    return result

In [398]:
subtract_bc(10,3,2)

parameter a equals 10
parameter b equals 3
parameter c equals 2

4

In [399]:
subtract_bc(b=3,a=10,c=2) # Another way to call arguments

parameter a equals 10
parameter b equals 3
parameter c equals 2

4

# Built in Fns

In [400]:
type(10)

int

In [401]:
int(5.0)

5

In [402]:
float(3)

3.0

In [403]:
str(500)

'500'

In [404]:
max(10,20,30)

30

In [405]:
min(10,20,30)

10

In [406]:
z = -20
abs(z)

20

In [407]:
list_l =[1,2,3,4]
sum(list_l)

10

In [408]:
round(3.5222,2)

3.52

In [409]:
round(3.2)

3

In [410]:
pow(2,10)   # same as 2**10

1024

In [411]:
len('Mathematics') # length of the word

11

Obtain the maximum number among the values 25, 65, 890, and 15.

In [1]:
max(25,65,890,15)

890

Obtain the minimum number among the values 25, 65, 890, and 15.

In [2]:
min(25,65,890,15)

15

Find the absolute value of -100

In [3]:
abs(-100)

100

Round the value of 55.5. Did you obtain 56.0?

In [5]:
round(float(55.5))

56

Round 35.56789 to the third digit.

In [6]:
round(35.56789,3)

35.568

Find the sum of all elements in the provided list, called "Numbers".

In [9]:
Numbers = [1, 5, 64, 24.5]

In [10]:
sum(Numbers)

94.5

Use a built-in function to raise 10 to the power of 3.

In [11]:
pow(10,3)

1000

How many characters are there in the word "Elephant"?

In [12]:
len("Elephant")

8

Create a function, called "distance_from_zero", that returns the absolute value of a provided single argument and prints a statement "Not Possible" if the argument provided is not a number.
Call the funtion with the values of -10 and "cat" to verify it works correctly.

In [17]:
def distance_from_zero(a):
    if type(a) == int or type(a) == float:
        return abs(a)
    else:
        print("Not Possible")

In [19]:
distance_from_zero(-10)

10

In [20]:
distance_from_zero("cat")

Not Possible